  body {
      /* border-bottom: #007bff solid 2px; */
      margin: 0;
      padding: 0;
      font-family: 'IBM Plex Sans Arabic', sans-serif;
      background: #f8f9fa;
      color: #222;
      direction: rtl
  }
  
  .contact-form-container {
      background-color: #fff;
      border-radius: 16px;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
      max-width: 700px;
      margin: 40px auto;
      padding: 30px;
      transition: transform 0.3s ease, box-shadow 0.3s ease
  }
.contact-form-container:hover {
      transform: translateY(-6px);
      box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
      background-color: #fefefe
  }

  .contact-form-container h1 {
      text-align: center;
      margin-bottom: 25px;
      color: #333
  }

  .form-list {
      display: flex;
      flex-direction: column;
      margin-bottom: 15px
  }

  label {
      margin-bottom: 6px;
      font-weight: bold
  }

  input,
  textarea {
      padding: 10px;
      border-radius: 8px;
      border: 1px solid #ccc;
      font-family: "IBM Plex Sans Arabic", sans-serif;
      font-size: 0.95rem;
      outline: none
  }

  input:focus,
  textarea:focus {
      border-color: #007bff;
      box-shadow: 0 0 5px rgba(0, 123, 255, 0.2)
  }

  .submit-button {
      font-family: "IBM Plex Sans Arabic", sans-serif;
      background-color: #007bff;
      color: white;
      border: none;
      padding: 12px;
      font-size: 1rem;
      border-radius: 8px;
      cursor: pointer;
      width: 100%;
      transition: background 0.2s ease
  }

  .submit-button:hover {
      background-color: #115b21
  }

  @media (max-width: 600px) {
      .product-info p {
          font-size: 0.9rem
      }

      .contact-form-container {
          padding: 20px
      }
  }
